<div *ngIf="gameOver" style="width: 50%;margin: auto;" class="h1 d-flex justify-content-center alert alert-danger">Game over</div>
<div *ngIf="!gameOver" style="width: 50%;margin: auto;text-align:center;" class="h1 d-flex justify-content-center card">Mine Sweeper</div>

<!-- <button style="background-image: '/home/kalyantvk/angularProjs/MineSweeper/src/app/mine.jpg';"">sdsd</button> -->
<div class="card d-flex justify-content-center" style="margin-top: 50px;">
  <div class="d-flex justify-content-center" *ngFor="let i of list;index as ind" >

    <div  class="row">          
      <div  class="btn-group mt-1">

        <button style="width:45px;height: 45px;border: 2px solid rgb(60, 255, 11);"  [id]="ind+'0'" (click)="checkMine(ind,0)" type="button" class="btn btn-default col-md-4 ml-3"></button>
        <button style="width:45px;border: 2px solid rgb(60, 255, 11);"  [id]="ind+'1'" (click)="checkMine(ind,1)" type="button" class="btn btn-default col-md-4 ml-1" ></button><br>
        <button style="width:45px;border: 2px solid rgb(60, 255, 11);"  [id]="ind+'2'"  (click)="checkMine(ind,2)" type="button" class="btn btn-default col-md-4 ml-1" ></button>
        <button style="width:45px;border: 2px solid rgb(60, 255, 11);"  [id]="ind+'3'"  (click)="checkMine(ind,3)" type="button" class="btn btn-default col-md-4 ml-1" ></button>
        <button style="width:45px;border: 2px solid rgb(60, 255, 11);"  [id]="ind+'4'"  (click)="checkMine(ind,4)" type="button" class="btn btn-default col-md-4 ml-1" ></button><br>
        <button style="width:45px;border: 2px solid rgb(60, 255, 11);"  [id]="ind+'5'"  (click)="checkMine(ind,5)" type="button" class="btn btn-default col-md-4 ml-1" ></button>
        <button style="width:45px;border: 2px solid rgb(60, 255, 11);"  [id]="ind+'6'"  (click)="checkMine(ind,6)" type="button" class="btn btn-default col-md-4 ml-1" ></button>
        <button style="width:45px;border: 2px solid rgb(60, 255, 11);"  [id]="ind+'7'"  (click)="checkMine(ind,7)" type="button" class="btn btn-default col-md-4 ml-1" ></button><br>
        <button style="width:45px;border: 2px solid rgb(60, 255, 11);"  [id]="ind+'8'"  (click)="checkMine(ind,8)" type="button" class="btn btn-default col-md-4 ml-1" ></button>
        <hr>


        <!-- <button  [id]="ind+'0'" (click)="checkMine(ind,0)" type="button" class="btn btn-default col-md-4 ml-3" style="width: 50px;">{{mines[ind][0]}}</button>
        <button  [id]="ind+'1'" (click)="checkMine(ind,1)" type="button" class="btn btn-default col-md-4 ml-1" style="width: 50px;">{{mines[ind][1]}}</button><br>
        <button  [id]="ind+'2'"  (click)="checkMine(ind,2)" type="button" class="btn btn-default col-md-4 ml-1" style="width: 50px;">{{mines[ind][2]}}</button>
        <button  [id]="ind+'3'"  (click)="checkMine(ind,3)" type="button" class="btn btn-default col-md-4 ml-1" style="width: 50px;">{{mines[ind][3]}}</button>
        <button  [id]="ind+'4'"  (click)="checkMine(ind,4)" type="button" class="btn btn-default col-md-4 ml-1" style="width: 50px;">{{mines[ind][4]}}</button><br>
        <button  [id]="ind+'5'"  (click)="checkMine(ind,5)" type="button" class="btn btn-default col-md-4 ml-1" style="width: 50px;">{{mines[ind][5]}}</button>
        <button  [id]="ind+'6'"  (click)="checkMine(ind,6)" type="button" class="btn btn-default col-md-4 ml-1" style="width: 50px;">{{mines[ind][6]}}</button>
        <button  [id]="ind+'7'"  (click)="checkMine(ind,7)" type="button" class="btn btn-default col-md-4 ml-1" style="width: 50px;">{{mines[ind][7]}}</button><br>
        <button  [id]="ind+'8'"  (click)="checkMine(ind,8)" type="button" class="btn btn-default col-md-4 ml-1" style="width: 50px;">{{mines[ind][8]}}</button>
        <hr> -->
      </div>
    </div>
    
  </div>

</div>